<template>
	<q-layout view="hHh lpR fFf">
		<q-header elevated class="bg-primary text-white">
			<q-toolbar>
				<q-toolbar-title>
					<router-link to="/">
						<q-avatar>
							<img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg" />
						</q-avatar>
					</router-link>
					Brand
					<q-btn no-caps to="/overview" flat label="Overview"></q-btn>
					<q-btn no-caps to="/faq" flat label="FAQ"></q-btn>
					<q-btn no-caps to="/pricing" flat label="Pricing"></q-btn>
				</q-toolbar-title>
				<q-btn no-caps to="/register" flat label="Register"></q-btn>
				<q-btn no-caps to="/login" flat label="Login"></q-btn>
			</q-toolbar>
		</q-header>
		<q-page-container>
			<router-view></router-view>
		</q-page-container>
	</q-layout>
</template>
<script setup></script>
