<template>
	<q-dialog persistent ref="dialogRef" @hide="onDialogHide">
		<q-card style="width: 500px; max-width: 95vw; max-height: 95vh">
			<q-card-section> add test form goes here </q-card-section>
			<q-card-actions align="right">
				<q-btn @click="onDialogCancel" no-caps flat label="Cancel"></q-btn>
				<q-btn @click="add" no-caps color="primary" icon="add_circle" label="Add new test">
				</q-btn>
			</q-card-actions>
		</q-card>
	</q-dialog>
</template>

<script setup>
import { useDialogPluginComponent } from 'quasar'
import useSoilTests from 'src/composables/useSoilTests'

defineEmits(useDialogPluginComponent.emits)
const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()

/***** above required for dialog *****/
const { addRandomTest } = useSoilTests()

const add = () => {
	addRandomTest()
	onDialogOK()
}
</script>
