<template>
	<q-page class="flex flex-center">
		<div>
			<div>this is where the new test form would go</div>
			<q-btn
				@click="addRandomTest"
				no-caps
				color="primary"
				icon="add_circle"
				label="Add new test">
			</q-btn>
		</div>
	</q-page>
</template>

<script setup>
import { uid } from 'quasar'
import { useRouter } from 'vue-router'
import useSoilTests from 'src/composables/useSoilTests'

const $router = useRouter()

const { addNewSoilTest } = useSoilTests()

const addRandomTest = () => {
	const id = uid()
	addNewSoilTest({
		id,
		name: `Test ${id.substring(0, 8)}`,
		description: `Test ${id}`,
	})
	$router.push({ name: 'view-test', params: { id } })
}
</script>
