<template>
	<q-layout view="hHh lpR fFf">
		<q-header elevated class="bg-primary text-white">
			<q-toolbar>
				<q-btn dense flat icon="menu" @click="toggleLeftDrawer"></q-btn>

				<q-toolbar-title>
					<router-link to="/admin">
						<q-avatar>
							<img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg" />
						</q-avatar>
					</router-link>
					Brand
					<q-btn
						v-if="soilTests.length"
						no-caps
						to="/admin"
						flat
						label="All tests"></q-btn>
					<q-btn
						v-if="archivedSoilTests.length"
						no-caps
						to="/admin/tests/archived"
						flat
						label="Archived tests">
					</q-btn>
				</q-toolbar-title>
				<q-btn no-caps to="/" flat label="Logout"></q-btn>
			</q-toolbar>
		</q-header>
		<q-drawer v-model="leftDrawerOpen" bordered>
			<q-scroll-area :style="leftDrawerStyle">
				<q-list flat padding>
					<q-item class="q-pb-lg">
						<q-item-section>
							<q-btn
								@click="showAddDialog"
								no-caps
								color="primary"
								icon="add_circle"
								label="Add new test">
							</q-btn>
						</q-item-section>
					</q-item>
					<q-item-label header v-if="latestTests.length" class="q-px-sm">
						{{ headerTitle }}
					</q-item-label>
					<div v-for="st in latestTests" :key="st.id">
						<q-item
							clickable
							class="q-px-sm"
							:to="{ name: 'view-test', params: { id: st.Id } }">
							<q-item-section>
								<q-item-label class="text-weight-bold">
									{{ st.Id }}
								</q-item-label>
								<q-item-label caption class="text-weight-bold">
									{{ st.Name }}
								</q-item-label>
								<q-item-label caption>
									{{ st.Description }}
								</q-item-label>
							</q-item-section>
						</q-item>
						<q-separator></q-separator>
					</div>
				</q-list>
			</q-scroll-area>
		</q-drawer>

		<q-page-container>
			<router-view></router-view>
		</q-page-container>
	</q-layout>
</template>

<script setup>
import { computed } from 'vue'
import useLeftDrawer from 'src/composables/useLeftDrawer'
import useSoilTests from 'src/composables/useSoilTests'

const { leftDrawerOpen, leftDrawerStyle, toggleLeftDrawer } = useLeftDrawer()
const { soilTests, latestTests, archivedSoilTests, showAddDialog } = useSoilTests()

const headerTitle = computed(() => {
	const len = latestTests.value.length
	return `Latest ${len > 1 ? len : ''} soil test${len > 1 ? 's' : ''}`
})
</script>
