<template>
	<q-page>
		<q-card flat>
			<q-scroll-area style="height: calc(100vh - 50px)">
				<q-card-section class="q-gutter-md">
					<q-table
						:rows="soilTests"
						:columns="columns"
						:pagination="{ rowsPerPage: 0 }"
						row-key="id"
						hide-bottom>
						<template #top>
							<div class="text-h6">
								{{ title }}
							</div>
							<q-space></q-space>
							<q-btn
								@click="showAddDialog"
								flat
								round
								no-caps
								color="primary"
								icon="add_circle">
							</q-btn>
						</template>
						<template #body="props">
							<q-tr :props="props">
								<q-td key="name" :props="props">
									{{ props.row.Name }}
								</q-td>
								<q-td key="description" :props="props">
									{{ props.row.Description }}
								</q-td>
								<q-td key="actions" :props="props">
									<q-btn
										:to="{ name: 'view-test', params: { id: props.row.Id } }"
										flat
										dense
										round
										color="primary"
										icon="visibility">
									</q-btn>
									<q-btn
										@click="archiveSoilTest(props.row.Id)"
										flat
										dense
										round
										color="primary"
										icon="move_to_inbox">
									</q-btn>
									<q-btn
										@click="deleteSoilTest(props.row.Id)"
										flat
										dense
										round
										color="negative"
										icon="delete">
									</q-btn>
								</q-td>
							</q-tr>
						</template>
					</q-table>
				</q-card-section>
			</q-scroll-area>
		</q-card>
	</q-page>
</template>

<script setup>
import { computed } from 'vue'
import useSoilTests from 'src/composables/useSoilTests'
import { columns } from 'src/composables/useSoilTests'

const { soilTests, deleteSoilTest, archiveSoilTest, showAddDialog } = useSoilTests()

const title = computed(() => {
	const len = soilTests.value.length
	return `${len} soil test${len > 1 ? 's' : ''}`
})
</script>
