<template>
	<q-page class="flex flex-center">
		<div>
			<div>this is where the details about the test would show</div>
			{{ soilTest }}
			<div v-if="!soilTest.Archived">
				<q-btn
					@click="archiveCurrentTest"
					no-caps
					color="primary"
					icon="move_to_inbox"
					label="Archive test">
				</q-btn>
			</div>
			<div v-else class="text-caption">
				This test has been archived on {{ new Date(soilTest.DateArchived) }}
			</div>
		</div>
	</q-page>
</template>

<script setup>
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import useSoilTests from 'src/composables/useSoilTests'

const props = defineProps(['id'])
const $router = useRouter()
const { allSoilTests, archiveSoilTest } = useSoilTests()

const soilTest = computed(() => allSoilTests.value.find(t => t.Id === props.id))

if (!soilTest.value) $router.push('/admin')

const archiveCurrentTest = () => {
	archiveSoilTest(soilTest.value.Id)
	$router.push('/admin')
}
</script>
